@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a {
    text-decoration: none;
    color: black;
  }

#iconwrapper{
  width: 100%;
  position: absolute; 
}

#iconwrapper{
    width: 100%;
    position: absolute; 
  }

body{
  margin: 0; 
  background-color: white;
}

#iconwrappername {
  width: 47vw;
  background-color: transparent;
  position: absolute; 
  top: -1vw;
  left: 8vw;
  margin: 0 auto;
}

#iconwrappername p{
    transition: 0.5s;
    padding: 3vw;
  text-align: left;
  font-size: 6vw;
  font-family: 'Bebas Neue', sans-serif;
  color: black;
  line-height: 0vw;
}

#iconwrappername p:hover{
    letter-spacing: 1vw;
    transition: 0.5s;
    color: red;
}

/* #iconwrappername p1{
  padding: 3vw;
  text-align: left;
  font-size: 4vw;
  font-family: 'Bebas Neue', sans-serif;
  color: black;
  line-height: 0vw;
} */

#iconwrapperweb {
  width: 20vw;
  background-color: transparent;
  position: relative; 
  top: 7vw;
  left: 11.2vw;
  margin: 0 ; 
}

#iconwrapperweb p{
    transition: 0.5s;
  padding: 0vw;
  text-align: left;
  font-size: 3vw;
  font-family: 'Bebas Neue', sans-serif;
  color: grey;
}

#iconwrapperproduct {
    width: 20vw;
    background-color: transparent;
    position: relative; 
    top: 3.2vw;
    left: 11.2vw;
    margin: 0 ;
  }
  
  #iconwrapperproduct p{
    transition: 0.5s;
    padding: 0vw;
    text-align: left;
    font-size: 3vw;
    font-family: 'Bebas Neue', sans-serif;
    color: darkgrey;
  }

  #iconwrapperdigital {
    width: 20vw;
    background-color: transparent;
    position: relative; 
    top: -0.5vw;
    left: 11.2vw;
    margin: 0 ;
  }
  
  #iconwrapperdigital p{
    transition: 0.5s;
    padding: 0vw;
    text-align: left;
    font-size: 3vw;
    font-family: 'Bebas Neue', sans-serif;
    color: lightgrey;
  }

  #iconwrapper0 {
    width: 80vw;
    background-color: transparent;
    position: relative; 
    top: 0vw;
    left: 46vw;
    margin: 0 ;
  }
  
  #iconwrapper0 p1{
    padding: 0vw;
    text-align: center;
    font-size: 4vw;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
  }

  #iconwrapper0 p2{
    transition: 0.5s;
    padding: 0vw;
    text-align: left;
    font-size: 2vw;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
  }

  #iconwrapper0 p2:hover{
    transition: 0.5s;
    letter-spacing: 0.5vw;
    color: red;
}

#iconwrapper00 {
    width: 80vw;
    background-color: transparent;
    position: relative; 
    top: 1vw;
    left: 11.2vw;
    margin: 0vw;
  }
  
  #iconwrapper00 p1{
    padding: 0vw;
    text-align: left;
    font-size: 1.5vw;
    font-family: "Be Vietnam Pro", sans-serif;
    color: black;
  }

  #iconwrapper00 p2:hover{
    transition: 0.5s;
    letter-spacing: 0.5vw;
    color: red;
}

  #iconwrapper01 {
    width: 80vw;
    background-color: transparent;
    position: relative; 
    top: 4vw;
    left: 11.2vw;
    margin: 0 ;
  }
  
  #iconwrapper01 p1{
    padding: 0vw;
    text-align: left;
    font-size: 2vw;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
  }

  #iconwrapper01 p2{
    transition: 0.5s;
    padding: 0vw;
    text-align: left;
    font-size: 2vw;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
  }

  #iconwrapper01 p2:hover{
    transition: 0.5s;
    letter-spacing: 0.5vw;
    color: red;
}

#iconwrapper02 {
    width: 80vw;
    background-color: transparent;
    position: relative; 
    top: 5vw;
    left: 11.2vw;
    margin: 0vw;
  }
  
  #iconwrapper02 p1{
    padding: 0vw;
    text-align: left;
    font-size: 1.7vw;
    font-family: "Be Vietnam Pro", sans-serif;
    font-style: italic;
    color: black;
  }

  #iconwrapper02 p2{
    padding: 0vw;
    text-align: left;
    font-size: 1.5vw;
    font-family: "Be Vietnam Pro", sans-serif;
    color: black;
  }

  /* #iconwrapper02 p2:hover{
    transition: 0.5s;
    letter-spacing: 0.5vw;
    color: red;
} */



#iconwrapperresume {
  width: 20vw;
  background-color: transparent;
  position: relative; 
  top: 0vw;
  left: 11.2vw;
  margin: 0 ;
}

#iconwrapperresume p{
  padding: 0vw;
  text-align: left;
  font-size: 3vw;
  font-family: 'Bebas Neue', sans-serif;
  color: black;
}

#iconwrapperresume p:hover{
  transition: 0.5s;
  letter-spacing: 0.5vw;
  color: red;
}

#iconwrapperabout {
  width: 20vw;
  background-color: transparent;
  position: relative; 
  top: -6.6vw;
  left: 24.2vw;
  margin: 0 ;
}

#iconwrapperabout p{
  padding: 0vw;
  text-align: left;
  font-size: 3vw;
  font-family: 'Bebas Neue', sans-serif;
  color: black;
}

#iconwrapperabout p:hover{
  transition: 0.5s;
  letter-spacing: 0.5vw;
  color: red;
}

#iconwrappercontact {
  width: 20vw;
  background-color: transparent;
  position: relative; 
  top: -13.3vw;
  left: 35.2vw;
  margin: 0 ;
}

#iconwrappercontact p{
  padding: 0vw;
  text-align: left;
  font-size: 3vw;
  font-family: 'Bebas Neue', sans-serif;
  color: black;
}

#iconwrappercontact p:hover{
  transition: 0.5s;
  letter-spacing: 0.5vw;
  color: red;
}


.container {
  position: relative;
  padding: 2vw;
  text-align: center;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -15px;
  margin-left: -30%;
  margin-right: 20%;
  color: darkred;
  font-weight: bold;
  font-size: 5vw;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: red;
}

.numbertext {
  color: #f2f2f2;
  font-size: 1vw;
  padding: 1vw 1vw;
  position: absolute;
  top: 0;
}

/* .caption-container {
  text-align: center;
  background-color: #222;
  padding: 0.01vw 12vw;
  color: white;
  font-size: 2vw;
  width: 50vw;
} */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
