body {
  margin-top: 100px;
  margin-left: 20px;
}

a {
  text-decoration: none;
}

#iconwrapper {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: white;
  transform: scale(1.5          );
}

#tvbox{
  margin: 0 auto;
  float: center;
  position: relative;
  width: 700px;
  height: 455px;
  background: #6F4107;
  overflow: hidden;
  border-radius: 15px;
  transform: scale(.5);
  border-style: solid;
  border-width: 7px;
  border-color: #4F2E06;
}
  #metalrim{
  width: 670px;
  height: 424px;
  background: #D9D6D3;
  background-image: linear-gradient(to right,#D9D6D3, #979797,#D9D6D3);
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  overflow: hidden;
  border-radius: 35px;
}
#blackrim{
  width: 650px;
  height: 405px;
  background: #2D2D2D;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  overflow: hidden;
  border-radius: 20px;
}
#outerscreen{
  width: 500px;
  height: 380px;
  background: #D9D6D3;
  background-image: linear-gradient(to right,#D9D6D3, #979797,#D9D6D3);
  position: absolute;
  margin-top: 13px;
  margin-left: 13px;
  overflow: hidden;
  border-radius: 15px;
}
#screenshading{
  width: 480px;
  height: 360px;
  background: #D9D6D3;
  background-image: conic-gradient(#D9D6D3,#888888,#D9D6D3,#E8E7E7,#C7C4C4, #E8E7E7,#D9D6D3,#888888,#D9D6D3);
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  overflow: hidden;
  border-radius: 15px;
}
/* #tv {
      position: relative;
      width: 390px;
      height: 320px;
      margin-top: 20px;
      margin-left: 45px;
      background: #171717;
      border-radius: 50% / 10%;
      text-align: center;
      text-indent: .1em;
      box-shadow: inset 0 0 30px;
    }
    #tv:before {
      content: '';
      position: absolute;
      top: 9%;
      bottom: 9%;
      right: -5%;
      left: -5%;
      background: #D9D6D3;
      border-radius: 5% / 50%;
      box-shadow: inset 0 0 30px;
    } */
#screen{
  width: 430px;
  height: 310px;
  background: #D9D6D3;
  background-image: radial-gradient(#D9D6D3 65%, #888888);
  position: absolute;
  margin-top: 25px;
  margin-left: 25px;
  overflow: hidden;
/*   border-radius: 50% / 10%; */
  border-radius: 100px;
  box-shadow: inset 0 0 20px;
}

#screen img{
  margin-top: 50px;
  width: 100%;
}
#scoobydoo {
  height: 100%;
}

#dialarea{
  width: 110px;
  height: 380px;
  background: #353535;
  background-image: ;
  position: absolute;
  margin-top: 13px;
  margin-left: 527px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: inset 0 0 10px;
}
#firstdial{
  width: 80px;
  height: 80px;
  background-image: linear-gradient(to right, #D9D6D3, #555555);
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 100px;
  transform: rotate (20deg);
}
#firstcircle{
  width: 58px;
  height: 58px;
  border-radius: 100px;
  background-color: transparent;
  margin-top: 5px;
  margin-left: 4px;
  border-style: dotted;
  border-color: #E8E7E7;
  border-width: 7px;
}
#circlereflect{
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: transparent;
  margin-top: 3px;
  margin-left: 3px;
  border-style: solid;
  border-color: lightgrey;
  border-width: 11px;
}
#secondcircle{
  width: 37px;
  height: 37px;
  border-radius: 100px;
 background-image: conic-gradient(#D9D6D3,#888888,#D9D6D3,#E8E7E7,#C7C4C4, #E8E7E7,#D9D6D3,#888888,#D9D6D3);
  margin-top: -7.5px;
  margin-left: -7.5px;
  border-style: solid;
  border-color: #171717;
  border-width: 4px;
}
#seconddial{
  width: 80px;
  height: 80px;
  background-image: linear-gradient(to right, #D9D6D3, #555555);
  position: absolute;
  margin-top: 110px;
  margin-left: 15px;
  border-radius: 100px;
  transform: rotate (20deg);
}
#thirdcircle{
  width: 37px;
  height: 37px;
  border-radius: 100px;
 background-image: conic-gradient(#D9D6D3,#888888,#D9D6D3,#E8E7E7,#C7C4C4, #888888,#D9D6D3,#E8E7E7,#D9D6D3);
  margin-top: -7.5px;
  margin-left: -7.5px;
  border-style: solid;
  border-color: #171717;
  border-width: 4px;
}
#vent1{
  width: 9px;
  height: 160px;
  background: #353535;
  background-image: linear-gradient(#575757,#353535);
  position: absolute;
  margin-top: 205px;
  margin-left: 13px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: inset 0 0 10px;
}
#vent2{
  width: 9px;
  height: 160px;
  background: #353535;
  background-image: linear-gradient(#575757,#353535);
  position: absolute;
  margin-top: 205px;
  margin-left: 28px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: inset 0 0 10px;
}
#vent3{
  width: 9px;
  height: 160px;
  background: #353535;
  background-image: linear-gradient(#575757,#353535);
  position: absolute;
  margin-top: 205px;
  margin-left: 43px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: inset 0 0 10px;
}
#vent4{
  width: 9px;
  height: 160px;
  background: #353535;
  background-image: linear-gradient(#575757,#353535);
  position: absolute;
  margin-top: 205px;
  margin-left: 58px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: inset 0 0 10px;
}
#vent5{
  width: 9px;
  height: 160px;
  background: #353535;
  background-image: linear-gradient(#575757,#353535);
  position: absolute;
  margin-top: 205px;
  margin-left: 73px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: inset 0 0 10px;
}
#vent6{
  width: 9px;
  height: 160px;
  background: #353535;
  background-image: linear-gradient(#575757,#353535);
  position: absolute;
  margin-top: 205px;
  margin-left: 88px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: inset 0 0 10px;
}
#leftfrontleg{
  
}
#tables {
  position: absolute;
}

#styledtable {
  border-collapse: collapse;
  transform: skew(40deg);
  margin-top: 0px;
  margin-left: 600px;
  position: absolute;
}
#styledtable td {
  border: 1px solid #2C2C2C;
  min-width: 70px;
  height: 70px;
  text-align: center;
  background-color: #6F6F6F;
}
#styledtable tr:nth-child(even) {
  background-color: #6F6F6F;
}
#remotedimleft{
  width: 100px;
  height: 97px;
  margin-top: 105px;
  margin-left: 568px;
  background-color: #2B2B2B;
  position: absolute;
  transform: rotate(70deg) skew(-70deg); 
}
#remotedimbottom{ 
  width: 220px;
  height: 93px;
  background-color: #131313;
  margin-top: 211px;
  margin-left: 706px;
  position: absolute;
  transform: rotate(0deg) skew(20deg);
}
